.home-nav-bar{
    margin-bottom: 0;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}
.navbar-other{
    margin-bottom: 2em;
}

.navbar-nav {
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 1.5em;
}

.coverimg {
    width: 100%;
}

.thumb {
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
    .bio-description{
        padding-left: 20vw;
        padding-right: 20vw;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 601px) {
    .bio-description{
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1em;
    }
}

.bio-header {
    font-size: 3.5em;
}

.bio{
    text-align: center;
}

.btn-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 1.3em;
}

h2 {
    padding-top: 1em;
}

p {
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.row{
    padding-bottom: 4em;
}

#about-page-image {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoom {
    width:100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition{
    -webkit-transition: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1,2);
    transform: scale(1.2);
}
